<ion-view title="Buscar">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-item class="range range-positive">Precio máximo
                <input type="range" value="0" min="0" max="10000000" ng-change="rangoPrecio(this.value)" ng-model="value" style="">
            </ion-item>
            <div style="text-align: center">
            <label id="valor" style="color:grey; font-size: 15px;">$ 0</label>
            </div>
            <label class="item item-input">
                <span class="input-label">Nombre</span>
                <input type="text" style="border-bottom: 1px solid grey;" placeholder="" ng-model="name">
            </label>
            <a ng-href='#/side-menu21/obras' style="color:white;" class="button button-full button-calm-900 ink">Filtrar</a>
        </form>
    </ion-content>
</ion-view>