<ion-view title="Sobre Apparte...">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Información</div>
            <div class="item item-body">
                <div>
                    <p>Apparte es una solución tecnológica basada en la web para la industria del arte. Con esta se espera atacar problemas típicos de los artistas visuales como la dificultad para divulgar sus obras. brindándoles la posibilidad de hacerlo sin necesidad de contar con el apoyo de los personajes encargados del manejo del marketing del arte a los cuales solo pueden acceder con altos recursos económicos.
                    Apparte ofrece dos tipos de perfil dentro de la plataforma: artista y comprador. Para los artistas la plataforma permite publicar las obras de arte, enviar mensajes a los interesados en la obra y realizar ventas. 
                    Para los compradores la plataforma permite realizar búsquedas personalizadas con filtros por ciudad, precio, título de la obra y estilo de arte. También permite iniciar conversaciones con los artistas para resolver inquietudes sobre la obra o encargar un trabajo y permite realizar calificaciones de las obras de arte y de los artistas.</p>

                    <p>Apparte promueve la divulgación de artistas y sus obras con el fin de brindarles un puente que los acerque a sus clientes, les posicione dentro del mercado y les diferencie de sus colegas; optimizando además los procesos de comunicación con los clientes generando mejores resultados para los negocios.</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>