<ion-content style="background: url(img/login.jpg) center; background-size: cover;">
    <div class="hero no-header flat">
        <div class="content">
            <div class="app-icon"></div>
        </div>
    </div>
    <div class="list list-inset">
    <label class="item item-input">
        <input placeholder="Usuario" highlight-color="balanced" type="text" ng-model="data.username"></input>
    </label>
    <label class="item item-input">
        <input placeholder="Contraseña" highlight-color="energized" type="password" ng-model="data.password"></input>
    </label>
    </div>
    <div class="padding">
        <button class="button button-full button-calm-900 ink" ng-click="login()">Login</button>
        <label id="fallo" style="color:red; font-size: 20px"></label>
    </div>
    <div class="button-bar social-login">
        <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
        <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
        <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
    </div>
</ion-content>

