<ion-view title="Obras ofertadas">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card" ng-repeat="res in result">
            <div class="item item-avatar">
            <img src="https://lorempixel.com/400/200/">
            <div class="item item-divider">{{res.user.full_name}}</div>
            </div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <img class="full-image" src="http://lorempixel.com/400/200/">
                    <div class="item item-divider">{{res.description}}</div>
                    <div class="item item-divider">Titulo: {{res.name}}</div>
                    <div class="item item-divider">Precio: {{res.price}}</div>
                    </div>
                <div class="button-bar">
                    <a href="#/side-menu21/perfil/{{user.profile.user_id}}" class="button   button-block button-clear icon ion-happy-outline"></a>
                    <a href="#/side-menu21/chat" class="button button-block button-clear icon ion-android-chat"></a>
                    <a href="#/galeria/{{user.profile.user_id}}" class="button  button-block button-clear icon ion-images"></a>
                </div>
                
            </div>
        </div>
    </ion-content>
</ion-view>



    
    